.contact-child,
.image-3-icon {
  position: absolute;
  top: -1320.29px;
  left: -445px;
  width: 2082.35px;
  height: 1303.13px;
}
.image-3-icon {
  top: -3311px;
  left: -25px;
  width: 1236px;
  height: 823.34px;
  object-fit: cover;
}
.the-best-service {
  position: absolute;
  top: -3153px;
  left: 278px;
  font-size: 39.18px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkolivegreen);
  display: inline-block;
  width: 380.64px;
  height: 53px;
}
.contact-inner,
.contact-item {
  position: absolute;
  top: -3398px;
  left: 556px;
  width: 465px;
  height: 456.55px;
}
.contact-inner {
  top: -3264px;
  left: -339px;
}
.erien {
  color: var(--color-white);
}
.experience {
  position: absolute;
  top: -3311px;
  left: 263px;
  font-size: 153.02px;
  font-weight: 600;
  display: inline-block;
  width: 981px;
  height: 158px;
}
.image-1-icon {
  position: absolute;
  top: -3298px;
  left: 1023px;
  width: 555px;
  height: 564.69px;
  object-fit: cover;
}
.get-started {
  position: absolute;
  top: 20px;
  left: 23px;
  font-weight: 600;
  display: inline-block;
  width: 284px;
  height: 53px;
}
.frame-child {
  position: absolute;
  top: -130.89px;
  left: 262px;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(75px);
  width: 51px;
  height: 213px;
  transform: rotate(-29.49deg);
  transform-origin: 0 0;
}
.get-started-parent {
  position: absolute;
  top: -3036px;
  left: 280px;
  border-radius: 30.25px;
  background-color: var(--color-black);
  width: 306px;
  height: 95px;
  overflow: hidden;
  font-size: 39.18px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.contact-child1,
.line-div {
  position: absolute;
  top: -2597.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1474.02px;
  height: 1px;
}
.contact-child1 {
  top: -2301.5px;
}
.lrem-ipsum-sose,
.over-100k-businesses {
  position: absolute;
  top: -2572px;
  left: 398px;
  display: inline-block;
  width: 644px;
  height: 84.26px;
}
.lrem-ipsum-sose {
  top: -2070px;
  left: 105px;
  width: 546px;
  height: 218px;
}
.doing-the-work,
.finishing-the-work,
.taking-the-contract {
  position: absolute;
  top: -1669px;
  left: 36px;
  text-align: center;
  display: inline-block;
  width: 220px;
  height: 85px;
}
.doing-the-work,
.finishing-the-work {
  top: -1599px;
  left: 552px;
  width: 178px;
}
.finishing-the-work {
  top: -2115px;
  left: 974px;
}
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: -2469px;
  left: 73px;
  width: 268px;
  height: 74.23px;
  object-fit: cover;
}
.image-5-icon {
  top: -2530px;
  left: 398px;
  width: 236px;
  height: 196px;
}
.image-6-icon,
.image-9-icon {
  border-radius: var(--br-80xl-5);
  width: 114px;
  height: 130px;
}
.image-6-icon {
  position: absolute;
  top: -2497px;
  left: 659px;
  object-fit: cover;
}
.image-9-icon {
  top: -2491px;
  left: 1236px;
}
.image-7-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  object-fit: cover;
}
.image-7-icon {
  top: -2497px;
  left: 799px;
  border-radius: 85px;
  width: 138px;
  height: 178px;
}
.image-8-icon {
  top: -2503px;
  left: 995px;
  width: 184.62px;
  height: 142px;
}
.we-have-best,
.we-help-you {
  position: absolute;
  top: -2221px;
  left: 105px;
  font-size: 49.03px;
  font-weight: 600;
  display: inline-block;
  width: 470px;
  height: 132px;
}
.we-help-you {
  top: -979px;
  left: 293px;
  width: 845px;
}
.div,
.div1,
.div2,
.line-icon {
  position: absolute;
  top: -2207.41px;
  left: 231.54px;
  width: 720.22px;
  height: 537.94px;
}
.div,
.div1,
.div2 {
  top: -1790px;
  left: 102px;
  font-size: 110.67px;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-darkolivegreen);
  display: inline-block;
  width: 105px;
  height: 206.38px;
}
.div1,
.div2 {
  top: -1775px;
  left: 580px;
  height: 137px;
}
.div2 {
  top: -2241px;
  left: 1010px;
}
.contact-child2,
.rectangle-icon {
  position: absolute;
  top: -2079px;
  left: 745px;
  border-radius: var(--br-11xl);
  width: 636px;
  height: 584px;
  object-fit: cover;
}
.contact-child2 {
  top: -1415px;
  left: 429px;
  width: 616px;
  height: 337px;
}
.one-handshake-is {
  position: absolute;
  top: -1358px;
  left: 459px;
  font-size: 49.03px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 565px;
  height: 132px;
}
.frame-item {
  position: absolute;
  top: 72.78px;
  left: -169px;
  background-color: rgba(210, 201, 201, 0.3);
  filter: blur(70px);
  width: 94px;
  height: 233.27px;
  transform: rotate(-27.76deg);
  transform-origin: 0 0;
}
.get-started-group {
  position: absolute;
  top: -1216px;
  left: 563px;
  border-radius: 30.25px;
  background-color: var(--color-darkolivegreen);
  width: 306px;
  height: 95px;
  overflow: hidden;
  font-size: 39.18px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.contact-child3 {
  position: absolute;
  top: -893.5px;
  left: 630.5px;
  border-top: 5px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 124px;
  height: 5px;
}
.mech-child {
  position: absolute;
  top: 0;
  left: 10.57px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 228px;
  height: 216px;
}
.mechanical {
  position: absolute;
  top: 138px;
  left: 24.57px;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 43px;
}
.mech-item {
  position: absolute;
  top: 0.63px;
  left: 4.86px;
  border-radius: var(--br-xl);
  width: 224.56px;
  height: 134px;
  object-fit: cover;
}
.mech {
  position: absolute;
  top: -781px;
  left: 446.43px;
  width: 238.57px;
  height: 216px;
  font-size: var(--font-size-16xl);
}
.electrical {
  top: 137px;
  left: 37px;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 43px;
}
.electr,
.electrical,
.works {
  position: absolute;
}
.works {
  top: 167px;
  left: 44px;
  font-size: var(--font-size-6xl);
  line-height: 35px;
  display: inline-block;
  width: 99px;
  height: 43px;
}
.electr {
  top: -780px;
  left: 720px;
  width: 238.57px;
  height: 216px;
  font-size: var(--font-size-16xl);
}
.plumbing {
  top: 136px;
  left: 33px;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 43px;
}
.plumb,
.plumbing,
.works1 {
  position: absolute;
}
.works1 {
  top: 166px;
  left: 34px;
  font-size: var(--font-size-6xl);
  line-height: 35px;
  display: inline-block;
  width: 99px;
  height: 43px;
}
.plumb {
  top: -779px;
  left: 994px;
  width: 238.57px;
  height: 216px;
  font-size: var(--font-size-16xl);
}
.civil1,
.works2,
.works3 {
  left: 40px;
  line-height: 35px;
  display: inline-block;
  height: 43px;
}
.civil1 {
  position: absolute;
  top: 138px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
  width: 69px;
}
.works2,
.works3 {
  width: 99px;
}
.works2 {
  position: absolute;
  top: 168px;
}
.works3 {
  top: 451px;
}
.civil,
.works3,
.works4 {
  position: absolute;
}
.civil {
  top: -781px;
  left: 174px;
  width: 238.57px;
  height: 494px;
  font-size: var(--font-size-6xl);
}
.works4 {
  top: 0;
  left: 30.57px;
  line-height: 35px;
  display: inline-block;
  width: 99px;
  height: 43px;
}
.mech-inner {
  position: absolute;
  top: 116px;
  left: 10.57px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 228px;
  height: 216px;
}
.interior {
  position: absolute;
  top: 254px;
  left: 30.57px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 43px;
}
.mech-child1 {
  position: absolute;
  top: 116.63px;
  left: 4.86px;
  border-radius: var(--br-xl);
  width: 224.56px;
  height: 134px;
  object-fit: cover;
}
.mech1 {
  position: absolute;
  top: -613px;
  left: 446.43px;
  width: 238.57px;
  height: 332px;
  font-size: var(--font-size-6xl);
}
.strucutural {
  position: absolute;
  top: 136px;
  left: 25px;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 43px;
}
.up-arrow {
  position: absolute;
  top: 171.29px;
  left: 182.53px;
  width: 41.56px;
  height: 28.54px;
  transform: rotate(90.57deg);
  transform-origin: 0 0;
}
.struct {
  position: absolute;
  top: -495px;
  left: 994px;
  width: 238.57px;
  height: 216px;
  font-size: var(--font-size-16xl);
}
.joinery1,
.works5,
.works6,
.works7 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
  height: 43px;
}
.joinery1 {
  top: 138px;
  left: 30px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
  width: 199px;
}
.works5,
.works6,
.works7 {
  top: 167px;
  left: 40px;
  width: 99px;
}
.works6,
.works7 {
  top: 169px;
  left: 304px;
}
.works7 {
  top: 167px;
  left: 853px;
}
.joinery,
.letss-meet-over {
  position: absolute;
  top: -497px;
  left: 174px;
  width: 952px;
  height: 216px;
  font-size: var(--font-size-6xl);
}
.letss-meet-over {
  top: 41px;
  left: 267px;
  font-weight: 500;
  color: #1e4025;
  display: inline-block;
  width: 291px;
  height: 53px;
}
.email-address,
.your-name {
  font-weight: 500;
  color: var(--color-dimgray);
}
.your-name {
  position: absolute;
  top: 265px;
  left: 248px;
  display: inline-block;
  width: 141px;
  height: 53px;
}
.email-address {
  top: 264px;
  left: 505px;
  width: 162px;
}
.email-address,
.message,
.phone-number,
.submit {
  position: absolute;
  display: inline-block;
  height: 33px;
}
.phone-number {
  top: 264px;
  left: 762px;
  font-weight: 500;
  color: var(--color-dimgray);
  width: 162px;
}
.message,
.submit {
  left: 248px;
}
.submit {
  top: 454px;
  font-size: var(--font-size-6xl);
  color: #22462a;
  width: 94px;
}
.message {
  top: 364px;
  font-weight: 500;
  color: var(--color-dimgray);
  width: 110px;
}
.contact-child4,
.contact-child5,
.contact-child6,
.contact-child7,
.contact-child8 {
  position: absolute;
  top: 312.5px;
  left: 246.5px;
  border-top: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 228px;
  height: 3px;
}
.contact-child5,
.contact-child6,
.contact-child7,
.contact-child8 {
  top: 311.5px;
  left: 503.5px;
}
.contact-child6,
.contact-child7,
.contact-child8 {
  left: 760.5px;
}
.contact-child7,
.contact-child8 {
  top: 504.5px;
  left: 246.5px;
  border-top: 3px solid var(--color-black);
  width: 93px;
}
.contact-child8 {
  top: 411.5px;
  border-top: 3px solid var(--color-gray-100);
  width: 748px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 1035px;
  border-radius: var(--br-xl);
  background-color: #131514;
  width: 400px;
  height: 561px;
}
.feinstagram2-icon,
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 19.11%;
  width: 3.36%;
  top: 44.59%;
  right: 25.53%;
  bottom: 36.31%;
  left: 71.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.feinstagram2-icon,
.vector-icon1 {
  right: 17.58%;
  left: 79.06%;
}
.feinstagram2-icon {
  height: 22.29%;
  width: 3.92%;
  top: 42.68%;
  right: 9.07%;
  bottom: 35.03%;
  left: 87.01%;
}
.p {
  margin: 0;
}
.legacy-trading-and-container {
  position: absolute;
  top: 48px;
  left: 113px;
  font-weight: 500;
}
.talk-to-us,
.vector-parent,
.visit-us {
  position: absolute;
  color: var(--color-white);
}
.vector-parent {
  top: 736px;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 893px;
  height: 157px;
  text-align: center;
}
.talk-to-us,
.visit-us {
  top: 72px;
  left: 1099px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 148px;
  height: 33px;
}
.visit-us {
  top: 291px;
  left: 1107px;
}
.div3,
.div4,
.info-ltcgmailcom,
.po-201766doha-qatar,
.tel-44177545,
.view-on-map {
  position: absolute;
  top: 122px;
  left: 1099px;
  font-weight: 500;
  display: inline-block;
  width: 239px;
  height: 35px;
}
.div3,
.div4,
.po-201766doha-qatar,
.tel-44177545,
.view-on-map {
  top: 341px;
}
.div4,
.po-201766doha-qatar,
.tel-44177545,
.view-on-map {
  top: 379px;
  left: 1101px;
}
.div4,
.tel-44177545,
.view-on-map {
  top: 159px;
  left: 1099px;
}
.div4,
.view-on-map {
  top: 197px;
}
.view-on-map {
  top: 439px;
  left: 1107px;
  font-weight: 600;
  color: var(--color-white);
  width: 140px;
  height: 33px;
}
.contact-child9 {
  position: absolute;
  top: 483.5px;
  left: 1105.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 137px;
  height: 3px;
}
.contact1,
.contact2 {
  position: absolute;
  font-family: var(--font-poppins);
}
.contact1 {
  top: 130px;
  left: -79px;
  width: 1435px;
  height: 893px;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
}
.contact2 {
  top: 207px;
  left: 143px;
  font-size: 106.44px;
  text-transform: capitalize;
  font-weight: 800;
  display: inline-block;
  width: 692px;
  height: 220px;
}
.lastbar-icon {
  position: absolute;
  height: 0.75%;
  width: 12.85%;
  top: -263.12%;
  right: 49.24%;
  bottom: 362.38%;
  left: 37.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav-content-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
}
.nav-content-item {
  position: absolute;
  height: 32.52%;
  width: 7.76%;
  top: 33.33%;
  right: 65.23%;
  bottom: 34.15%;
  left: 27.01%;
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.nav-content-inner {
  position: absolute;
  height: 49.59%;
  width: 11.83%;
  top: 25.2%;
  right: 2.22%;
  bottom: 25.2%;
  left: 85.94%;
  border-radius: 76.25px;
  background-color: var(--color-black);
}
.our-clients,
.services {
  position: absolute;
  height: 26.83%;
  top: 33.33%;
}
.services {
  width: 8.93%;
  left: 48.24%;
  font-weight: 600;
  display: inline-block;
}
.our-clients {
  width: 11.93%;
  left: 59.59%;
}
.about-us,
.connect,
.our-clients {
  font-weight: 600;
  display: inline-block;
}
.connect {
  position: absolute;
  height: 26.83%;
  width: 9.44%;
  top: 34.96%;
  left: 87.55%;
  color: var(--color-white);
  cursor: pointer;
}
.about-us {
  top: 6px;
  left: 8px;
  width: 127px;
  height: 33px;
}
.about-us,
.abt,
.home {
  position: absolute;
}
.abt {
  height: 36.59%;
  width: 10.87%;
  top: 28.46%;
  right: 53.18%;
  bottom: 34.96%;
  left: 35.94%;
  border-radius: 56.25px;
  overflow: hidden;
}
.home {
  height: 26.83%;
  width: 5.64%;
  top: 34.15%;
  left: 28.4%;
  font-weight: 600;
  display: inline-block;
}
.logo-icon {
  position: absolute;
  height: 73.17%;
  width: 6.59%;
  top: 13.01%;
  right: 90.19%;
  bottom: 13.82%;
  left: 3.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nav-content {
  position: absolute;
  top: 26px;
  left: 37px;
  width: 1366px;
  height: 123px;
  font-size: 24.39px;
  color: var(--color-darkolivegreen);
  font-family: var(--font-poppins);
}
.contact {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  text-align: left;
  font-size: 30.57px;
  color: var(--color-black);
  font-family: var(--font-outfit);
}
